html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--sl-font-sans);
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 10%;
}

p {
  text-align: justify;
  font-size: 1.1rem;
}

h5 {
  font-weight: normal;
  text-decoration: underline;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

image-component {
  max-width: 100%; /* Ensures the component scales down in small screens */
  height: auto;    /* Automatically calculates height to maintain aspect ratio */
  display: block;  /* Necessary for margin auto and width rules to apply correctly */
  margin: 1rem auto; /* Centers the image component within the content block */
}
